*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif;
    background: #121216;
    color: #eee;
    padding: 20px;
    display: flex;
    gap: 30px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}